# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*.pyo

.venv/
venv/
env/

# =========================
# Django
# =========================

db.sqlite3
media/
staticfiles/

# =========================
# Environment / Secrets
# =========================

.env
.env.*

# =========================
# Node / React
# =========================

frontend/node_modules/
frontend/dist/

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db